@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos de la scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Color del track */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Bordes redondeados del thumb */
}

/* Colores específicos para cada proyecto */
.scrollbar-secondary::-webkit-scrollbar-thumb {
  background: #009688;
}
